:root {
  --theme-bg-color: #fef9c3;
  --theme-foreground-color: #fff;
  --meme-frame-color: #000;
}

body {
  font-family: "Inter", serif;
  letter-spacing: 0.15rem;
  word-spacing: 0.15rem;
  padding: 0.85rem;
  background-color: var(--theme-bg-color);
}

.meme-frame {
  border: 0.25rem solid var(--meme-frame-color);
  background-color: var(--theme-foreground-color);
  box-shadow: 0.5rem 0.5rem 0 0 #000;
}
