body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.625rem;
  background-color: #eb79063a;
}

.frame,
.page-title {
  border: 0.313rem solid #000;
  background-color: #eb79063a;
  box-shadow: 0.313rem 0.313rem;
}
